.font-size {
    font-size: 24px;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.text-decoration {
    text-decoration: underline;
}

.text-transform {
    text-transform: uppercase;
}

.text-align {
    text-align: center;
}
